<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <title>online-shop</title>
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/online-shop">Home</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main">

    <div class="jumbotron">

        <div class="container">
            <form action="/online-shop" method="POST">
                <div class="row">



                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <span>title:</span>
                        <input type="text" class="form-control" placeholder="title"  name="title" size="45"  required>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <span>price:</span>
                        <input type="number" class="form-control" size="10" name="price" required>
                    </div>


                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <span>description:</span>
                        <input type="text" class="form-control" placeholder="text" size="500"
                               name="description" required>
                    </div>
                    <br><br><br>

                        <div class="col-md-8">
                            <input class="btn btn-success" type="submit" value="Add new Product">
                        </div>
                    </div>
            </form>
        </div>
    </div>

</main>

<footer class="container">
    <p>&copy; Online-shop Company </p>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

<script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
</body>
</html>