<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <title>online-shop</title>
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/products">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/products/add">Add new product</a>
            </li>
            <#if login??>
                <li><a class="nav-link" href="/logout">logout</a></li>
                <#else>
                    <li><a class="nav-link" href="/login">Login</a></li>
                    <li><a class="nav-link" href="/registration">Registration</a></li>
            </#if>
        </ul>
    </div>
</nav>
<br><br>
<main role="main">
    <div class="container">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <table class="table" id="products-list">
                <tr>
                    <td>
                        <h3>id</h3>
                    </td>
                    <td>
                        <h3>title</h3>
                    </td>
                    <td>
                        <h3>price</h3>
                    </td>
                    <td>
                        <h3>description</h3>
                    </td>
                </tr>
                <#list products as product>
                    <tr class="mess-hide">
                        <td>
                            <h4>${product.id}</h4>
                        </td>
                        <td>
                            <h4>${product.title}</h4>
                        </td>
                        <td>
                            <h4>${product.price}</h4>
                        </td>
                        <td>
                            <h4>${product.description}</h4>
                        </td>
                    </tr>
                </#list>
            </table>
        </div>
    </div>
</main>
<footer class="container">
    <p>&copy; Online-shop Company </p>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
</body>
</html>